@model RememberAB.Controllers.ContactsController
@{
    ViewBag.Title = "ContactsView";
}

<h2>Contact Book</h2>

<form class="searchForm">
    <input type="Text" placeholder="Search" name="search">
    <button type="submit">Search</button>
</form>

